/* fonts */
@font-face {
  font-family: "Display";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Display-Thin";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Normal-Thin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}
/* variables */
:root {
  --border: #5a5a5a;
  --dark: #131315;
  --alternative-dark: #1d1d1f;
  --light: #fefefe;
  --gray: #999999;
  --display: #23c3c3;
  --dark-display: #086767;
  --secondary-display: #ec4899;
  --transition: 0.3s all ease-in;
}
/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--display);
  color: var(--dark);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Normal", sans-serif;
  color: var(--light);
  background-color: var(--dark);
}
.wrapper {
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Display", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thin {
  font-family: "Display-Thin", sans-serif;
  color: var(--gray);
}
/* header */
header {
  height: calc(100svh - 30px);
}
.main__header {
  height: calc(100% - 30px);
}
.main__header > .container {
  height: calc(100% - 30px);
}
.main__title__area--1 {
  width: 60%;
}
h1 {
  font-size: 55px;
}
/* main menu */
.menu > .container {
  background-color: var(--alternative-dark);
  border: 1px solid var(--border);
  border-radius: 15px;
  margin-top: 30px;
  height: 60px;
  padding: 0 25px;
}
.menu__logo {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--border);
  padding-right: 20px;
}
.logo {
  transform: translateY(1px);
  width: 75px;
  height: 100%;
}
.menu__area {
  display: flex;
  gap: 20px;
}
.menu__items {
  display: flex;
  gap: 15px;
}
.menu__link {
  color: var(--gray);
  font-family: "Normal-Thin", sans-serif;
  transition: var(--transition);
}
.menu__link:hover {
  color: var(--light);
  font-family: "Normal", sans-serif;
}
.header__buttons {
  display: flex;
  margin-top: 100px;
  gap: 20px;
}
.header__btn {
  white-space: nowrap;
  border: 1px solid var(--border);
  background-color: var(--alternative-dark);
  padding: 8px 17px;
  border-radius: 3px 10px;
  color: var(--light);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    var(--display),
    var(--dark-display)
  );
  width: 0px;
  height: 60px;
  z-index: 10;
  transition: var(--transition);
}
.header__btn:hover::before {
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__btn:hover {
  color: var(--dark);
  transform: scale(110%);
}
.header__btn span {
  z-index: 20;
  position: relative;
}
.header__btn:nth-of-type(1) {
  background-color: var(--display);
  color: var(--dark);
}
.header__btn:nth-of-type(1) .header__icon {
  filter: invert(0);
}
.header__icon {
  width: 20px;
  margin-left: 5px;
  transform: translateY(3px);
  filter: invert(1);
  transition: var(--transition);
}
.header__btn:nth-of-type(2):hover .header__icon {
  filter: invert(0);
}
.moon {
  filter: invert(1);
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.dark-mode {
  border: 1px solid var(--gray);
  padding: 8px;
  border-radius: 20px;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.dark-mode.white-mode {
  justify-content: flex-start !important;
  filter: invert(2);
}
.main__social {
  display: flex;
  flex-direction: column;
  aling-items: flex-end;
  justify-content: center;
  gap: 20px;
}
.social__link {
  background-color: var(--display);
  border: 1px solid var(--border);
  transition: var(--transition);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.social__link:hover {
  background-color: var(--display);
}
.social__icon {
  width: 25px;
}
