/* fonts */
@font-face {
  font-family: "Display";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Display-Thin";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Normal-Thin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}
/* variables */
:root {
  --border: #5a5a5a;
  --dark: #131315;
  --alternative-dark: #1d1d1f;
  --light: #fefefe;
  --gray: #999999;
  --dark-gray: #303843;
  --display: #237bc3;
  --green: #11aa81;
  --dark-green: #057c5d;
  --dark-display: #0b5089;
  --secondary-display: #ec4899;
  --transition: 0.3s all ease-in;
  --base: 2.5em;
  --base-mobile: 1.2em;
}
/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--display);
  color: var(--dark);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Normal", sans-serif;
  color: var(--light);
  background-color: var(--display);
  padding: var(--base);
}
body.overflow {
  overflow: hidden;
}
.wrapper {
  background-color: var(--dark);
  border-radius: 10px 30px;
  padding: var(--base);
  max-width: 1200px;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Display", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.column {
  flex-direction: column;
  align-items: flex-start;
}
.thin {
  font-family: "Display-Thin", sans-serif;
  color: var(--gray);
}
.opacity {
  opacity: 0 !important;
}
/* header */

.main-header > .container {
  height: calc(100% - 30px);
}
.main-header__title {
  width: 60%;
}
h1 {
  font-size: 42px;
}
.pipe {
  color: var(--light);
  font-weight: 900;
}
/* main menu */
.menu > .container {
  background-color: var(--alternative-dark);
  border: 1px solid var(--border);
  border-radius: 3px 10px;
  margin-top: 30px;
  margin-bottom: 75px;
  height: 60px;
  padding: 0 25px;
}
.menu__logo {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--border);
  padding-right: 20px;
}
.menu__image {
  transform: translateY(1px);
  width: 75px;
  height: 100%;
}
.menu__main {
  display: flex;
  gap: 20px;
}
.menu__items {
  display: flex;
  gap: 15px;
}
.menu__item {
  position: relative;
}
.menu__link {
  color: var(--gray);
  font-family: "Normal-Thin", sans-serif;
  transition: var(--transition);
}
.menu__link:hover {
  color: var(--light);
}
.caret {
  width: 12px;
  transform: translateY(1px);
}
.menu__submenu {
  position: absolute;
  top: 45px;
  left: 0;
  white-space: nowrap;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
  transform: translateY(-30px);
}
.menu__submenu li a {
  background-color: var(--display);
  border: 1px solid var(--border);
  color: var(--light);
  padding: 12px 15px;
  display: block;
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu__item:hover .menu__submenu {
  z-index: 100;
  opacity: 1;
  transform: translateY(0);
}
.menu__submenu li a:hover {
  background-color: var(--light);
  color: var(--display);
}
.menu__submenu li a img {
  width: 17px;
  height: 17px;
}
.menu__mobile {
  opacity: 0;
  transform: translateX(-110%);
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--transition);
  background-color: var(--dark);
  padding: 25px;
}
.menu__mobile li a {
  text-transform: uppercase;
}
.menu__mobile.show {
  opacity: 1;
  transform: translateX(0%);
  z-index: 100;
}
.main-header__buttons {
  display: flex;
  margin-top: 100px;
  gap: 20px;
}
.main-header__btn {
  white-space: nowrap;
  border: 1px solid var(--border);
  background-color: var(--alternative-dark);
  padding: 8px 17px;
  border-radius: 3px 10px;
  color: var(--light);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}
.main-header__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    var(--display),
    var(--dark-display)
  );
  width: 0px;
  height: 60px;
  z-index: 10;
  transition: var(--transition);
}
.main-header__btn:hover::before {
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-header__btn:hover {
  color: var(--dark);
  transform: scale(110%);
}
.main-header__btn span {
  z-index: 20;
  position: relative;
}
.main-header__btn:nth-of-type(1) {
  background-color: var(--display);
  color: var(--dark);
}
.main-header__btn:nth-of-type(1) .main-header__icon {
  filter: invert(0);
}
.main-header__icon {
  width: 20px;
  margin-left: 5px;
  transform: translateY(3px);
  filter: invert(1);
  transition: var(--transition);
}
.main-header__btn:nth-of-type(2):hover .main-header__icon {
  filter: invert(0);
}
.menu__moon {
  filter: invert(1);
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.menu__dark {
  border: 1px solid var(--gray);
  padding: 8px;
  border-radius: 15px;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.menu__dark.white-mode {
  justify-content: flex-start !important;
  filter: invert(2);
}
.menu__button {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  width: 35px;
  height: 35px;
  border-radius: 3px 10px;
  display: none;
}
.menu__bars {
  max-width: 20px;
}
.main-header__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}
.main-header__social-link {
  background-color: var(--display);
  border: 1px solid var(--border);
  transition: var(--transition);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.main-header__social-link:hover {
  background-color: var(--dark-display);
  transform: scale(107%);
}
.main-header__social-link:hover .main-header__social-icon {
  filter: invert(1);
}
.main-header__social-icon {
  width: 25px;
  transition: var(--transition);
}
/* sections */
.section:nth-of-type(1) {
  margin-top: 100px;
}
.section {
  margin-top: 50px;
  border-top: 1px dashed #2c2c2e;
  padding: 100px 0 50px 0;
}
.section__title {
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
}
.section__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  height: 2.5px;
  width: 100px;
  border-radius: 2px 20px;
  background-color: var(--border);
  z-index: 5;
}
.section__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  height: 2.5px;
  width: 25px;
  border-radius: 2px 20px;
  background-color: var(--display);
  z-index: 10;
}
/* what I do */
.section__cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}
.section__card {
  border: 1px solid var(--border);
  background-color: var(--dark);
  padding: 2.5em;
  border-radius: 3px 25px;
  color: var(--light);
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  width: 33.33%;
  cursor: pointer;
}
.section__area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section__icon {
  max-width: 35px;
  margin-bottom: 20px;
  transition: var(--transition);
}
.section__list {
  margin-top: 20px;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--transition);
}
.section__card:hover {
  background-color: var(--display);
  transform: scale(105%);
  color: var(--dark);
}
.section__card h3 {
  transition: var(--transition);
}
.section__card:hover h3 {
  color: var(--dark) !important;
}
.section__card:hover .section__list {
  color: var(--alternative-dark);
}
.section__card:hover .section__icon {
  filter: invert(1);
}
.section__card > p {
  margin-top: 15px;
}
.section__card:nth-of-type(1) .color {
  color: #f058a7;
}
.section__card:nth-of-type(2) .color {
  color: #f2d838;
}
.section__card:nth-of-type(3) .color {
  color: #30c2be;
}
.emphasis {
  color: #30c2be;
  display: block;
  font-size: 14px;
  transition: var(--transition);
}
.section__image {
  border-radius: 3px 15px;
  width: 100%;
  margin-bottom: 5px;
  display: none;
}
.section__mark {
  margin-right: 10px;
  white-space: nowrap;
  font-size: 12px;
  color: var(--gray);
  transition: var(--transition);
}
.section__mark::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  transition: var(--transition);
}
.section__card:hover .section__mark {
  color: var(--dark);
}
.section__card:hover .emphasis {
  color: #f43e1c;
}
.section__card:hover .section__mark::before {
  background-color: #543f71;
}
.section__mark.html::before {
  background-color: #f43e1c;
}
.section__mark.css::before,
.section__mark.react::before {
  background-color: #5992f5;
}
.section__mark.javascript::before {
  background-color: #f2d838;
}
.section__mark.vue::before,
.section__mark.vite::before {
  background-color: #4ecf75;
}
.section__mark.ui::before,
.section__mark.php::before,
.section__mark.expo::before,
.section__mark.bootstrap::before {
  background-color: #9d63f0;
}
.section__mark.library::before {
  background-color: #f058a7;
}
.section__mark.cdn::before,
.section__mark.mysql::before {
  background-color: #58c2f0;
}
.section__mark.npm::before,
.section__mark.express::before {
  background-color: #f06058;
}
.section__mark.seo::before,
.section__mark.node::before {
  background-color: #848484;
}
.section__mark.react-native::before {
  background-color: #91f14c;
}
/* modals */
.background {
  background-color: #0b0b0bd6;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}
.background.show-background {
  z-index: 75;
  opacity: 1;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  width: 850px;
  opacity: 0;
  z-index: -1;
  transition: var(--transition);
  border-radius: 10px 50px;
  background-size: cover;
  background-color: white;
  overflow: hidden;
}
.modal .modal__container > header {
  padding: var(--base);
  background-color: var(--dark);
}
.modal.show-modal {
  opacity: 1;
  z-index: 80;
}
.close-modal {
  position: absolute;
  background-color: var(--border);
  transition: var(--transition);
  border-radius: 10px;
  width: 45px;
  height: 45px;
  right: 30px;
  top: 30px;
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close-modal:hover {
  background-color: var(--display);
}
.modal__body {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: var(--base);
  color: var(--dark);
}
.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__button {
  background-color: var(--display);
  display: flex;
  border-radius: 15px;
  padding: 12px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: var(--transition);
}
.modal__button:nth-of-type(2) {
  background-color: var(--green);
}
.modal__button:nth-of-type(2):hover {
  background-color: var(--dark-green);
}
.modal__button:nth-of-type(1):hover {
  background-color: var(--dark-display);
}
.modal .modal__img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.modal__icon {
  filter: invert(1);
  width: 22px;
  max-width: 22px;
  display: block;
}
.modal__image h3 {
  text-align: right;
  color: var(--dark-gray);
  font-size: 14px;
}
.modal__text h3 {
  font-size: 24px;
}
.modal__text header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}
.modal__text p {
  font-size: 18px;
  color: var(--alternative-dark);
  margin-bottom: 40px;
}
.modal__text h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.modal__text ul {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}
.modal__text li {
  background-color: var(--dark-gray);
  transition: var(--transition);
  width: auto;
  padding: 10px;
  color: var(--light);
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
.modal__text li:hover {
  background-color: var(--display);
}
/* responsive settings */
@media (max-width: 1100px) {
  .menu__items,
  .menu__dark {
    display: none;
  }
  .menu__button {
    display: flex;
  }
  .menu__logo {
    border: none;
  }
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 30px;
  }
  .main-header__buttons {
    margin-top: 40px;
  }
  .section {
    margin-top: 80px;
    padding: 80px 0 0 0;
  }
  .section__cards {
    flex-direction: column;
  }
  .section__card {
    width: 100%;
  }
  .modal {
    width: 90%;
    max-height: 80svh;
    overflow-y: auto;
  }
  .modal__container h2 {
    max-width: 80%;
  }
  .modal__body {
    flex-direction: column;
  }
  .modal__text h3 {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .main-header__socials {
    display: none;
  }
  body,
  .wrapper {
    padding: var(--base-mobile);
  }
  .main-header__title {
    width: 100%;
  }
  .section {
    margin-top: 75px;
    padding: 75px 0 0 0;
  }
  .section__title {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0;
  }
  .section__card {
    padding: 25px 20px;
  }
  .section__card h3 {
    font-size: 16px;
  }
  .section__list li {
    font-size: 15px;
  }
  .section__icon {
    max-width: 30px;
  }
  h1 {
    font-size: 26px;
  }
  .section {
    margin-top: 50px;
    padding: 50px 0 0 0;
  }
  .section__title {
    font-size: 23px;
  }
  .main-header__buttons {
    gap: 8px;
  }
  .main-header__btn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
