/* fonts */
@font-face {
  font-family: "Display";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Display-Thin";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Normal-Thin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}
/* variables */
:root {
  --border: #5a5a5a;
  --dark: #131315;
  --alternative-dark: #1d1d1f;
  --light: #fefefe;
  --gray: #999999;
  --display: #237bc3;
  --dark-display: #0b5089;
  --secondary-display: #ec4899;
  --transition: 0.3s all ease-in;
  --base: 2.5em;
  --base-mobile: 1.2em;
}
/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--display);
  color: var(--dark);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Normal", sans-serif;
  color: var(--light);
  background-color: var(--display);
  padding: var(--base);
}
.wrapper {
  background-color: var(--dark);
  border-radius: 10px 30px;
  padding: var(--base);
  max-width: 1200px;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Display", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.column {
  flex-direction: column;
  align-items: flex-start;
}
.thin {
  font-family: "Display-Thin", sans-serif;
  color: var(--gray);
}
.opacity {
  opacity: 0 !important;
}
/* header */

.main-header > .container {
  height: calc(100% - 30px);
}
.main-header__title {
  width: 60%;
}
h1 {
  font-size: 42px;
}
.pipe {
  color: var(--light);
  font-weight: 900;
}
/* main menu */
.menu > .container {
  background-color: var(--alternative-dark);
  border: 1px solid var(--border);
  border-radius: 3px 10px;
  margin-top: 30px;
  margin-bottom: 75px;
  height: 60px;
  padding: 0 25px;
}
.menu__logo {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--border);
  padding-right: 20px;
}
.menu__image {
  transform: translateY(1px);
  width: 75px;
  height: 100%;
}
.menu__main {
  display: flex;
  gap: 20px;
}
.menu__items {
  display: flex;
  gap: 15px;
}
.menu__item {
  position: relative;
}
.menu__link {
  color: var(--gray);
  font-family: "Normal-Thin", sans-serif;
  transition: var(--transition);
}
.menu__link:hover {
  color: var(--light);
}
.caret {
  width: 12px;
  transform: translateY(1px);
}
.menu__submenu {
  position: absolute;
  top: 45px;
  left: 0;
  white-space: nowrap;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
  transform: translateY(-30px);
}
.menu__submenu li a {
  background-color: var(--display);
  border: 1px solid var(--border);
  color: var(--light);
  padding: 12px 15px;
  display: block;
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu__item:hover .menu__submenu {
  z-index: 100;
  opacity: 1;
  transform: translateY(0);
}
.menu__submenu li a:hover {
  background-color: var(--light);
  color: var(--display);
}
.menu__submenu li a img {
  width: 17px;
  height: 17px;
}
.menu__mobile {
  opacity: 0;
  transform: translateX(-110%);
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--transition);
  background-color: var(--dark);
  padding: 25px;
}
.menu__mobile li a {
  text-transform: uppercase;
}
.menu__mobile.show {
  opacity: 1;
  transform: translateX(0%);
  z-index: 100;
}
.main-header__buttons {
  display: flex;
  margin-top: 100px;
  gap: 20px;
}
.main-header__btn {
  white-space: nowrap;
  border: 1px solid var(--border);
  background-color: var(--alternative-dark);
  padding: 8px 17px;
  border-radius: 3px 10px;
  color: var(--light);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}
.main-header__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    var(--display),
    var(--dark-display)
  );
  width: 0px;
  height: 60px;
  z-index: 10;
  transition: var(--transition);
}
.main-header__btn:hover::before {
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-header__btn:hover {
  color: var(--dark);
  transform: scale(110%);
}
.main-header__btn span {
  z-index: 20;
  position: relative;
}
.main-header__btn:nth-of-type(1) {
  background-color: var(--display);
  color: var(--dark);
}
.main-header__btn:nth-of-type(1) .main-header__icon {
  filter: invert(0);
}
.main-header__icon {
  width: 20px;
  margin-left: 5px;
  transform: translateY(3px);
  filter: invert(1);
  transition: var(--transition);
}
.main-header__btn:nth-of-type(2):hover .main-header__icon {
  filter: invert(0);
}
.menu__moon {
  filter: invert(1);
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.menu__dark {
  border: 1px solid var(--gray);
  padding: 8px;
  border-radius: 15px;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.menu__dark.white-mode {
  justify-content: flex-start !important;
  filter: invert(2);
}
.menu__button {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  width: 35px;
  height: 35px;
  border-radius: 3px 10px;
  display: none;
}
.menu__bars {
  max-width: 20px;
}
.main-header__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}
.main-header__social-link {
  background-color: var(--display);
  border: 1px solid var(--border);
  transition: var(--transition);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.main-header__social-link:hover {
  background-color: var(--dark-display);
  transform: scale(107%);
}
.main-header__social-link:hover .main-header__social-icon {
  filter: invert(1);
}
.main-header__social-icon {
  width: 25px;
  transition: var(--transition);
}
/* sections */
.section {
  margin-top: 100px;
  border-top: 1px dashed #2c2c2e;
  padding: 100px 0 0 0;
}
.section__title {
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
}
.section__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  height: 2.5px;
  width: 100px;
  border-radius: 2px 20px;
  background-color: var(--border);
  z-index: 5;
}
.section__title::after {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  height: 2.5px;
  width: 25px;
  border-radius: 2px 20px;
  background-color: var(--display);
  z-index: 10;
}
/* what I do */
.section__cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}
.section__card {
  border: 1px solid var(--border);
  background-color: var(--dark);
  padding: 2.5em;
  border-radius: 3px 10px;
  color: var(--light);
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  width: 33.33%;
  cursor: pointer;
}
.section__icon {
  max-width: 35px;
  margin-bottom: 20px;
  transition: var(--transition);
}
.section__list {
  margin-top: 20px;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--transition);
}
.section__card:hover {
  background-color: var(--display);
  color: var(--dark);
}
.section__card:hover .section__list {
  color: var(--alternative-dark);
}
.section__card:hover .section__icon {
  filter: invert(1);
}
/* responsive settings */
@media (max-width: 1100px) {
  .menu__items,
  .menu__dark {
    display: none;
  }
  .menu__button {
    display: flex;
  }
  .menu__logo {
    border: none;
  }
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 30px;
  }
  .main-header__buttons {
    margin-top: 40px;
  }
  .section {
    margin-top: 80px;
    padding: 80px 0 0 0;
  }
  .section__cards {
    flex-direction: column;
  }
  .section__card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-header__socials {
    display: none;
  }
  body,
  .wrapper {
    padding: var(--base-mobile);
  }
  .main-header__title {
    width: 100%;
  }
  .section {
    margin-top: 75px;
    padding: 75px 0 0 0;
  }
  .section__title {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .section__card {
    padding: 25px 20px;
  }
  .section__card h3 {
    font-size: 16px;
  }
  .section__list li {
    font-size: 15px;
  }
  .section__icon {
    max-width: 30px;
  }
  h1 {
    font-size: 26px;
  }
  .section {
    margin-top: 50px;
    padding: 50px 0 0 0;
  }
  .section__title {
    font-size: 23px;
  }
  .main-header__buttons {
    gap: 8px;
  }
  .main-header__btn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
